@font-face {
	font-family: jenson;
	src: local(jenson), url("jenson.ttf");
}

@font-face {
	font-family: jensonitalic;
	src: local(jensonitalic), url("jensonitalic.ttf");
}

@font-face {
	font-family: jensonbold;
	src: local(jensonbold), url("jensonbold.ttf");
}

a:link, a:visited {
	color: #3c3b39;
	text-decoration: none;
}

a:hover, a:active {
	color: #d4af6b;
	text-decoration: none;
}

a.black {
	color: black;
}

body {
	margin: 0px;
	text-align: center;
}

div.blockquote {
	padding: 30px;
	padding-bottom: 24px;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 0px #3c3c3a;
	-webkit-box-shadow: 0px 0px 10px 0px #3c3c3a;
	-moz-box-shadow: 0px 0px 10px 0px #3c3c3a;
	-ms-box-shadow: 0px 0px 10px 0px #3c3c3a;
}

div.body {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
}

div.columns {
	column-count: 3;
	column-width: 150px;
	align: center;
}

div.hr {
	width: 100%;
	height: 1px;
	background-color: #3c3c3a;
	margin-top: 30px;
	margin-bottom: 30px;
	opacity: 0.5;
}

div.iconimage {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-color: #3c3c3a;
	width: 90px;
	height: 90px;
}

div.icontext {
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
}

div.icongroup {
	text-align: left;
	margin-bottom: 10px;
}

p, li {
	font-family: jenson;
	font-size: 16px;
	text-align: justify;
	margin: 0px;
	margin-bottom: 6px;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

p.center {
	text-align: center;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.left {
	text-align: left;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.right {
	text-align: right;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.iconlabel {
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 4px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.sectiontitle {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin-top: 60px;
	margin-bottom: 30px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.sectionsubtitle {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 60px;
	margin-top: -15px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.name {
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 60px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.title {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 15px;
	margin-top: 60px;
	margin-bottom: 60px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

p.toc {
	text-align: left;
	break-inside: avoid-column;
	-webkit-column-break-inside: avoid;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

img.iconimage {
	max-width: 60px;
	max-height: 60px;
}

img.iconcenter {
	float: center;
	margin-top: 15px;
	margin-bottom: -40px;
	max-width: 60px;
	max-height: 60px;
}

img.iconright {
	float: right;
	margin-top: 45px;
	margin-left: 25px;
	margin-bottom: 15px;;
	max-width: 60px;
	max-height: 60px;
}

img.logo {
	height: 60px;
	width: 60px;
}

span.center {
	display: table;
	margin: auto;
}

span.emphasis {
	font-size: 11px;
	font-family: jensonbold;
	text-transform: uppercase;
	letter-spacing: 2px;
	hyphens: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
}

span.italic {
	font-family: jensonitalic;
}

tr, td {
	border: 0px;
	vertical-align: middle;
	text-align: center;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

table {
	box-shadow: 0px 0px 10px 0px #3c3c3a;
	-webkit-box-shadow: 0px 0px 10px 0px #3c3c3a;
	-moz-box-shadow: 0px 0px 10px 0px #3c3c3a;
	-ms-box-shadow: 0px 0px 10px 0px #3c3c3a;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}