a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: #dba828;
	text-decoration: none;
}

p.iconlabel {
	font-family: "Baskerville", "Times", "Times New Roman", "Serif";
	text-align: center;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

p.text {
	font-family: "Baskerville", "Times", "Times New Roman", "Serif";
	text-align: justify;
	font-size: 14px;
}

table.icongroup {
	width: 90%;
	border-spacing: 20px;
	max-width: 600px;
}

td.icon {
	width: 33%;
	vertical-align: top;
}

img.iconimage {
	max-width: 100%;
	max-height: 100%;
}